
.fs-3rem {
  font-size: 3rem !important;
}

.brand-text-green {
  color: #0de3a9ff !important;
}

.brand-text-black {
  color: #010c09ff !important;
}

.brand-bg-black {
  /* background-color: #010c09ff !important; */
  /* background-color: rgba(0, 0, 0, .2); */
  background-color: #252727 !important;
}

.brand-bg-green {
  background-color: #0de3a9ff !important;
}

.brand-bg-green-clip {
  background-color: #0de3a9ff !important;
  clip-path: polygon(0 100%, 100% 100%, 100% 0, 0 50%);
}

.brand-bg-green-defintion {
  background-color: #0de3a9ff !important;
  clip-path: polygon(0 0, 98% 10%, 65% 100%, 0% 100%);
}

.know-more-btn {
  color: #fff !important;
  padding: 0.5rem 2rem !important;
  border: 5px solid #0de3a9ff !important;
  border-radius: 14px !important;
  background-color: transparent !important;
}

.border-green {
  border: 3px solid #0de3a9ff !important;
  border-color: #0de3a9ff !important;
}

.borderbottom {
  border-bottom: 5px solid #0de3a9ff !important;
}

.line-height {
  line-height: 3 !important;
}
